# 1) 10 questions 45 min.
# 2) Sample dataframe are given in questions, you can copy paste in cell and write the further code.
# 3) *Kindly rename your notebook with your name before sending to us.
# 4) *YOUR CODE MUST BE RUNNABLE IN OUR SYSTEM WITHOUT ANY ERROR.

## Requirments

In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
from numpy import random

# 1) Create dataframe of the given list and assign auto-incremented number for each group.
# lst = ['A', 'B', 'C', 'A','A','B','D','E','F','F','Z']
e.g if A occures three times then 1st A will get 1 second will get 2 and third will get 3, same for B, 1st B will get 1 2nd will get 2 .....,C....etc. And get max number of each

# 2) Update the values column age and set it to 22 where name is "xyz" or "mnu" in given datarame using isin()
data = [['xyz', 10], ['abc', 15], ['pzq', 14], ['mnu', 15], ['xyz', 14]]  
df = pd.DataFrame(data, columns = ['Name', 'Age'])

# 3) Print each alphabet of below string on new line using loop by removing white spaces.
 "python is amazing"

# 4) Develop code for the following logic 01
1. Convert timestamp to date and add as a new feature date in dataset.
2. Get month number from date and add as a new feature month in dataset.
3. Get dayname from date and add as a new feature dayname in dataset.

df = pd.DataFrame({'date':['20210101','20220201','19991001']})

# 5) Data Visualization
1. From the below dataset, calculate the sum of sale values against each department
1. (after sum of "sale")plot variable department on x-axis, sale on y-axis
2. Give the names to the x-axis and y-axis, also add title to the plot by creating a self define function of name add_title()


df = pd.DataFrame({'sale':[ 95228,  26413,  19699,  77988, 141460, 114889, 134434,  42803, 69876,  37574,  43581,  72795],
                   'business':['A','B','B','C','A','B','A','A','C','C','B','A'],
                  'department':['ABC','BCD','XYZ','ABC','ABC','XYZ','BCD','PQR','PQR','ABC','BCD','XYZ']})

# 6) Develop code for the following logic
1. Using below datset get the minimum, maximum and mean sales of each business.
2. Also get the minimum and maximum date for each business.
3. Merge above summarized information with orignal dataset. (df columns will be date, sale, business, MinimumSale, MaximumSale,MinimumDate,MaximumDate)
3. Sort the dataset using date for each business in descending order.


df = pd.DataFrame({'date':['2021-04-01','2021-04-02','2021-04-03','2021-04-04','2021-04-05','2021-04-06',
                           '2021-04-07','2021-04-08','2021-04-09','2021-04-10','2021-04-11','2021-04-12'],
                   'sale':random.randint(10000,180000,12),
                   'business':['A','B','B','C','A','B','A','A','C','C','B','A']})

# 7) Develop code for the following logic 03
1. Using below dataset do the binning of month column. Make 4 binns 1-3,4-6,7-9,10-12 and name it as Quarter1, Quarter2, Quarter3 & Quarter4
2. Name this new column as a Quarter

df = pd.DataFrame({'month':random.randint(1,12,12),
                   'sale':random.randint(10000,180000,12),
                   'business':['A','B','B','C','A','B','A','A','C','C','B','A']})

# 8) join/merge the below dataframes on bussiness and local_business

df1 LEFT JOIN df2 

df1 = pd.DataFrame({'sale':[ 95228,  26413,  19699,  77988, 141460, 114889, 134434,  42803, 69876,  37574,  43581,  72795],
                   'business':['A','B','B','C','A','B','A','A','C','C','B','A'],
                  'department':['ABC','BCD','XYZ','ABC','ABC','XYZ','BCD','PQR','PQR','ABC','BCD','XYZ']})
                  
df2 = pd.DataFrame({'local_business':['A','B','C'],
                  'tax':['18%','25%','30%']})

# 9) From below dataset select the countries whose region contain word 'Asia'


df = pd.DataFrame({'country':['Afghanistan','Albania','Algeria','American Samoa','Andorra','Angola','Anguilla','Antarctica','Antigua and Barbuda','Argentina','Armenia','Aruba','Australia','Austria','Azerbaijan','Bahamas','Bahrain','Bangladesh','Barbados','Belarus','Belgium','Belize','Benin','Bermuda','Bhutan','Bolivia','Bosnia and Herzegovina','Botswana','Brazil','Brunei Darussalam','Bulgaria','Burkina Faso','Burundi','Cambodia','Cameroon','Canada','Cape Verde','Cayman Islands','Central African Republic','Chad','Chile','China','Christmas Island','Cocos (Keeling) Islands','Colombia','Comoros','Democratic Republic of the Congo (Kinshasa)','Congo Republic of (Brazzaville)','Cook Islands','Costa Rica','Côte Divoire (Ivory Coast)','Croatia','Cuba','Cyprus','Czech Republic','Denmark','Djibouti','Dominica','Dominican Republic'],
                   'Region':['South-Central Asia','Balkan Peninsula','Northern Africa','Polynesia Oceania','Southern Europe','Central Africa','Leeward Islands Caribbean','Antarctica','Leeward Islands Caribbean','Southern South America','Western Asia','Leeward Islands Caribbean','Australia/Oceania','Western Europe','Caucasus Western Asia','Caribbean','Arabian Peninsula Middle East','South-Central Asia','Lesser Antilles Caribbean','Eastern Europe','Western Europe','Central America','West Africa','North America','South-Central Asia','Central South America','Southern Europe','Southern Africa','Central Eastern South America','Southeast Asia','Balkan Eastern Europe','West Africa','Eastern Africa African Great Lakes','South-East Asia','Central Africa','North North America','West Africa','Greater Antilles Caribbean','Central Africa','Central Africa','Western South America','Eastern Asia','Southeast Asia','South-East Asia Australia','North West South America','Eastern Africa','Central Africa','Central Africa','Polynesia Oceania','Central America','West Africa','Balkan Peninsula Southern Europe','Greater Antilles Caribbean','Mediterranean Western Asia','Eastern Europe','Northern Europe','Eastern Africa','Lesser Antilles Caribbean','Greater Antilles Caribbean']})


`Note: This is generated data so country name & region name should be mismatch`

# 10) create new column and add 15 in age for each record where age>=20 using lambda function
data = [['xyz', 10], ['abc', 15], ['pzq', 14], ['mnu', 20], ['xyz', 21]]
df = pd.DataFrame(data, columns = ['Name', 'Age'])