In [23]:
import pandas as pd

In [24]:
#tables = pd.read_html("https://www.moneycontrol.com/")

tables = pd.read_html("https://sbi.co.in/web/interest-rates/deposit-rates/retail-domestic-term-deposits")

In [25]:
len(tables)

1

In [26]:
df = tables[0]

In [27]:
type(df)

pandas.core.frame.DataFrame

In [28]:
df.to_csv("SBI_Interest Rates.csv", index = False)

In [29]:
movie_tables = pd.read_html("https://www.rottentomatoes.com/m/the_lion_king_2019")

In [30]:
len(movie_tables)

9

In [34]:
movie_tables[3]

              0                             1   2
0  No Score Yet                 Chaos Walking NaN
1  No Score Yet   Peter Rabbit 2: The Runaway NaN
2           94%                    Baby, Done NaN
3           88%            PG: Psycho Goreman NaN
4           48%                Monster Hunter NaN
5           37%              Outside the Wire NaN
6           89%                Sing Me A Song NaN
7  No Score Yet  Breaking News in Yuba County NaN
8           95%                Dear Comrades! NaN
9  No Score Yet            The Lady of Heaven NaN

In [21]:
movie_tables[1]

       0                                                  1
0   100%                                         The Sinner
1    82%                                          Westworld
2   100%                                         Tiger King
3    86%                           The Plot Against America
4    80%                                  War of the Worlds
5    94%                                          Outlander
6    69%  Self Made: Inspired by the Life of Madam C.J. ...
7    77%                            Little Fires Everywhere
8    62%                            The Letter for the King
9    91%                                   The Walking Dead
10   57%                                   The English Game
11   86%                                       The Stranger

In [22]:
movie_tables[3]

     0                                      1   2
0  98%                       The Conversation NaN
1  90%                       Tokyo Godfathers NaN
2  84%                   Big Time Adolescence NaN
3  87%                                 Onward NaN
4  48%                                 Burden NaN
5  92%                      The Invisible Man NaN
6  69%  Seven Stages to Achieve Eternal Bliss NaN
7  97%                         Extra Ordinary NaN
8  61%                   The Call of the Wild NaN
9  30%                              Bloodshot NaN